    <div class="bg-yellow-100 border border-yellow-400 text-yellow-800 px-4 py-3 rounded text-lg text-center mb-6">
   ¡Grandes mejoras en camino! <br />
  Esta página estará en pausa temporalmente el <strong>Viernes 08 de agosto de 2025</strong> desde las <strong>14:00</strong> hasta las <strong>00:00</strong>horas del <strong>Sabado 09 de agosto del 2025</strong>, mientras preparamos nuevas funcionalidades para ti. <br />
  🚀 ¡Gracias por tu paciencia! Volveremos pronto con una mejor experiencia.
</div>